


<style>
    body {
        background-image: url('../../Content/Pictures/CyberSecurity.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>

<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

    <div class="jumbotron">
        <h1>Security System</h1>
        <p class="lead">Security System is an application built for users who needs to securly store their personal pictures online.</p>
        <p><input type="button" class="btn btn-primary btn-lg" value="Sign up now!" onclick="location.href='@Url.Action("Create", "User")'" /></p>
    </div>
